<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body style="text-align:center;">
    <h1 style="background-color:aliceblue">Welcome to My chat</h1>
    <h3>Please Sign up</h3>
    <form style="text-align:center;">
        <label>Name    :</label>
        <input type="text" id="n1">
        <br><br>
        <label>Email   :</label>
        <input type="email" id="e1">
        <br><br>
        <label>PhNum:</label>
        <input type="number" id="ph1">
        <br><br>
        <label>Password:</label>
        <input type="password" id="pass1">
        <br><br>
        <button id="signupbtn">Signup</button>
    </form>
    <br><br><br><br><br>
    <p>Have an Account Please Click to Login</p>
    <a href="./login.html"><button>Login</button></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="signup.js"></script>
</body>
</html>