<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="logout" sstyle="size:20px;"style="margin-left:80rem;margin-top:0rem;">Logout</button>
    
    <h1>Welcome to chat application</h1>
    <br><br>
    
    <div id="seegroups">
    </div>
    <br><br>
    
    <label>Create a group</label><input type="text" id="groupname">
    <button id="creategroup">Create group</button>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="./group.js"></script>
</body>
</html>