<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="groupchat"></h1>
    <div id="userlist"></div>
    <div id="admin" style="text-align:center;background-color:aliceblue"">

    </div>
    <br><br><br><br><br><br>
    <div id="adduser"></div>

    <br></br><br></br></br>
    <h3>Your Chats</h3>
    <div id="allchat"></div>
    <br><br>
   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>    
    <script id='groupuser' src="./groupuser.js"></script>
    

</body>
</html>